* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#enfeite-login {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

#enfeite-login img {
    width: auto; /* Ajuste se necessário */
    height: 100vh;
    overflow: hidden;
}
